<html>
  <head>
    <title>CI/CD buzz generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" 
      rel="stylesheet">
    <style>
      body {
        padding: 0; 
        background: url('/static/background.jpg') no-repeat;
        background-size: cover; 
        background-color: #58576a; 
        background-blend-mode: multiply; 
      }
      .buzz { 
        color: #fff; 
        font-family: 'Lobster', cursive; 
        font-size: 48px; 
      }
      div.buzz { 
        max-width: 50%; 
        margin: 0 auto; 
        text-align: center; 
        position: relative; 
        top: 40%;
      }
    </style>
  </head>
  <body>
    <div class="buzz">
      <p class="buzz">{{ buzz }}</p>
    </div>
  </body>
</html>
